__pycache__
.pytest_cache
InCollege
*.sqlite3
Pipfile

Pipfile.lock

pyproject.toml

InCollege.egg-info/top_level.txt

InCollege.egg-info/requires.txt

InCollege.egg-info/dependency_links.txt

InCollege.egg-info/PKG-INFO

InCollege.egg-info/SOURCES.txt
